<%if @error %>
  <div class="alert alert-error"><%=@error%></div>
<% end %>
<% if @show_bet_input %>
<h4>How much do you want to bet?</h4>
<p>You have $<%= session[:player_money].to_i %>.</p>
<form action="bet" method="post">
  <input type="text" name="player_bet">
  <br />
  <input type="submit" class="btn" value="Submit">
</form>
<% end %>
