form#hit_form {
  float: left;
  margin-right: 10px;
}

form#stay_form {
  float: left;
}

img.card_image {
  margin-right: 10px;
  border: solid black 2px;
  padding: 10px;
  background: white;
  max-height: 150px;
}

div.well h5 {
  margin-top: 0px;
}

#player_total {
  font-size: 110%;
  font-weight: bold;
}

#player_money {
  font-size: 90%;
  color: #555;
}

#player_prompt {
  font-size: 110%;
  font-weight: bold;
}